<div class="page">
  <div class = "header">
    <app-navigation-header></app-navigation-header>
  </div>
  <h1 class = "title">Mes Articles</h1>
  <div class="card-container">
    <div class="card">
      <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--GvQd4soQ--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nreg8ynvlx0dz369qa0y.png">
      <a href="https://dev.to/c2dricleroy/lerreur-du-choix-de-javascript-4ef6">
        <h2 class="title">L'erreur du choix de JavaScript</h2>
      </a>
      <p class="description">Pourquoi débuter la programmation par JavaScript peut poser problème</p>
    </div>
  </div>

</div>
