<div class="page">
  <header class="header">
    <app-navigation-header></app-navigation-header>
  </header>
  <div class="container">
    <div class="title-container">
      <h1>Développeur web FullStack</h1>
      <section class="social-link">
        <a class="icon" href="https://github.com/C2dricLeroy" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-2x fa-github"></i>
        </a>
        <a class="icon" href="https://www.linkedin.com/in/cdric2leroy/" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-2x fa-linkedin"></i>
        </a>
        <a class="icon" href="https://twitter.com/Cdric2Leroy" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-2x fa-twitter"></i>
        </a>
        <a class="icon" href="https://welovedevs.com/app/fr/developer/8oSjQEQfrURJcxTaSH1E2XGQJAF3" target="_blank">
          <i class="fa fa-2x fa-link"></i>
        </a>
      </section>
    </div>
    <div class="information-container">
      <div class="profil-container">
        <img class="profile-picture" src="assets/profile.png" alt="profile picture">
        <h2>Cédric Leroy</h2>
        <p class = "presentation-text">Hello! Je m'appelle <b>Cédric Leroy</b> et j'ai <b>26 ans</b> et j'habite <b>Lille</b>! Depuis toujours j'ai rêvé d'une carrière dans l'informatique. C'est après un parcours non moins passionnant de psychologue que j'ai décidé de me reconvertir. Après un an d'effort et d'apprentissage j'obtiens mon titre CDA. Mon parcours atypique et mes qualités d'analyse et d'expression sont mes forces, alors n'hésitez pas à me contacter! </p>
        <div class="profile-informations">
          <div class="profile-information-item">
            <p><b>PROFESSION</b></p>
            <p class="profil-information-item-text">Développeur Web Back-end</p>
          </div>
          <div class="profile-information-item">
            <p><b>DATE DE NAISSANCE</b></p>
            <p class="profil-information-item-text">28/03/1997</p>
          </div>
          <div class="profile-information-item">
            <p><b>TELETRAVAIL</b></p>
            <p class="profil-information-item-text">Partiel</p>
          </div>
          <div class="profile-information-item">
            <p><b>VEHICULE</b></p>
            <p class="profil-information-item-text">Permis B</p>
          </div>
          <div class="profile-information-item last">
            <p><b>VILLE</b></p>
            <p>Lille, Paris</p>
          </div>
          <a routerLink="/contact" class="contact-button">Contact</a>
        </div>
      </div>
      <div class="experience-container">
        <div class="experience">
          <h2 class="experience-title">Expériences</h2>
          <div class="experience-item">
            <h3>Développeur PHP & Node.js</h3>
            <div class="experience-date">
              <p>
                <b>03/2023-06/2023 -</b>
              </p>
              <p>
                <b>Psylexia</b>
              </p>
            </div>
          </div>
          <p class="experience-description">Lorem ipsum dolor</p>
          <hr>
          <div class="experience-item">
            <h3>Psychologue Clinicien</h3>
            <div class="experience-date">
              <p>
                <b>09/2021-10/2022 -</b>
              </p>
              <p>
                <b>Korian & Fondation Partage et Vie</b>
              </p>
            </div>
          </div>
          <p class="experience-description">Lorem ipsum dolor</p>
        </div>
        <div class="education-skills-container">
          <div class="education">
            <h2 class="education-title">Mes diplômes</h2>
            <div class="education-container">
              <div class="education-item">
                <h3 class="education-item-title">Titre Professionnel Concepteur Développeur d'Applications</h3>
                <div class="education-date">
                  <p>
                    <b>
                      11/2022-07/2023 -
                    </b>
                  </p>
                  <p>
                    <b>Simplon</b>
                  </p>
                </div>
              </div>
              <p class="experience-description">Obtention du titre CDA en sortie de formation 6 mois + 3 mois de stage. Approfondissement de la programmation et formation à la conception et sécurisation des systèmes informatiques.</p>
              <hr>
              <div class="education-item">
                <h3 class="education-item-title">Titre Professionnel Concepteur Développeur d'Applications</h3>
                <div class="education-date">
                  <p>
                    <b>
                      11/2022-07/2023 -
                    </b>
                  </p>
                  <p>
                    <b>Simplon</b>
                  </p>
                </div>
              </div>
              <p class="experience-description">Obtention du titre CDA en sortie de formation 6 mois + 3 mois de stage. Approfondissement de la programmation et formation à la conception et sécurisation des systèmes informatiques.</p>

            </div>

          </div>
          <div class="Hobby">
            <ul class="hobby-list">
              <li>Musique (M.A.O, guitare)</li>
              <li>Sport (escalade, running, ...) </li>
              <li>Développement</li>
              <li>Lecture</li>
            </ul>
          </div>
        </div>

        <div class="skills">
          <ul class="hard-skills"></ul>
          <ul class="soft-skills"></ul>
        </div>
      </div>
    </div>


  </div>
</div>


