<div class="page">
  <div class = "header">
    <app-navigation-header></app-navigation-header>
  </div>
  <div class="decorator"></div>
  <div class="content">
    <div class="text-container">
      <div class="text">
        <h1>Concepteur Développeur d'applications</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consect et sapien et sapien. Lorem ipsum dolor sit amet et sapien. Lorem ipsum dolor sit amet et sapien et sapien. Lorem ipsum dolor sit amet et sap    Infinite    dolor. Lorem ipsum dolor sit amet et sap Infinite   dolor. Lorem ipsum dolor sit amet et sap Infinite
        </p>
      </div>
      <div class="image-container">
        <img src="./assets/profile.png" class="img-responsive" alt="profile picture"/>
      </div>
    </div>
    <section class="social-link">
      <a class="icon" href="https://github.com/C2dricLeroy" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-2x fa-github"></i>
      </a>
      <a class="icon" href="https://www.linkedin.com/in/cdric2leroy/" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-2x fa-linkedin"></i>
      </a>
      <a class="icon" href="https://twitter.com/Cdric2Leroy" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-2x fa-twitter"></i>
      </a>
      <a class="icon" href="mailto:pro.cedricleroy@gmail.com">
        <i class="fa fa-2x fa-envelope"></i>
      </a>
      <a class="icon" href="https://welovedevs.com/app/fr/developer/8oSjQEQfrURJcxTaSH1E2XGQJAF3" target="_blank">
        <i class="fa fa-2x fa-link"></i>
      </a>
    </section>
  </div>

</div>
