.page {
  widt: 99vw;
  height: 99vh;
  max-width: 99vw;
  max-height: 99vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.social-links {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

h1 {
  font-family: "Montserrat-Regular", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: bold;
  color: #404040;
}

.text {
  width: 60%;
}

p {
  color: #404040;
  font-size: 24px;
}

.decorator {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FF8370;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 5%;
}

.icon {
  color: #404040;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.text-container {
  display: flex;
  flex-direction: row;
  margin: 15% 5% 5%;
}

.img-responsive {
  width: 75%;
  border-radius: 50%;
}

.img-container {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
