.page {
  display: flex;
  flex-direction: column;
  width:100%;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.social-links {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

h1 {
  font-family: "NeutralFace", "Montserrat-Regular", "Helvetica Neue", "Helvetica", "sans-serif";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  color: #404040;
  text-align: left;
  font-size: 75px;
}

h2 {
  font-family: "NeutralFace", "Montserrat-Regular", serif;
  font-size: 30px;
  margin-left: 60px;
  margin-bottom: 40px;
  color: #FF8370;
}

.text {
  width: 60%;
}

p {

  color: #404040;
  font-size: 24px;
  font-weight: 500;
}

.decorator {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FF8370;
}

.icon {
  color: #404040;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.icon:hover {
  color: #FF8370;
}

.text-container {
  display: flex;
  flex-direction: row;
  margin: 15% 5% 5%;
  text-align: justify;
}

.img-responsive {
  width: 75%;
  border-radius: 50%;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.content {
  max-width: 5000px;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  h2 {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {

  .text-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .img-responsive {
    width: 50%;
    margin-top: 50px;
  }

  h1 {
    text-align: center;
    font-size: 36px;
  }

  h2 {
    text-align: center;
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 0;
  }

  p {
    padding-top: 20px;
    font-family: "Neue Metana", serif;
  }

  .content {
    max-height: none;
  }
}
