<div class="page">
  <div class = "header">
    <app-navigation-header></app-navigation-header>
  </div>
  <h1>Mes projets</h1>
  <div class="card-container">
    <div *ngFor="let project of projects; let i = index" class="card">
      <h2 class="card-title">{{ project.Name }}</h2>
      <div class="date-container">
        <div *ngIf="project.DateDebut" class="date">
          <h3>Date Début:</h3>
          <p  class="date">{{ project.DateDebut }}</p>
        </div>
        <div *ngIf="project.DateFin" class="date">
          <h3>Date Fin:</h3>
          <p  class="date">{{ project.DateFin }}</p>
        </div>
      </div>
      <p class="description">{{ project.Description }}</p>
      <div class="link" *ngIf="project.Github">
        <a href="{{ project.Github }}">Github</a>
      </div>
      <div class="link" *ngIf="project.URL">
        <a href="{{ project.URL }}">URL</a>
      </div>
      <div class="link" *ngIf="project.Statut">
        <p>Statut: {{ project.Statut }}</p>
      </div>

  </div>

</div>
